/* =========================
   MUSIC PLAYER
========================= */

.music-player{

position:fixed;

bottom:20px;

left:280px;

right:20px;

height:85px;

background:#111827;

border-radius:15px;

display:flex;

align-items:center;

justify-content:space-between;

padding:15px 20px;

z-index:999;

box-shadow:0 5px 25px rgba(0,0,0,.5);

}


/* SONG INFO */

.now-playing{

display:flex;

align-items:center;

gap:15px;

width:250px;

}


.now-playing img{

width:55px;

height:55px;

border-radius:10px;

object-fit:cover;

}


.now-playing h3{

font-size:15px;

margin-bottom:5px;

}


.now-playing p{

font-size:13px;

color:#aaa;

}



/* CONTROLS */

.player-controls{

display:flex;

align-items:center;

gap:20px;

}


.player-controls button{

background:none;

border:none;

color:white;

font-size:22px;

cursor:pointer;

}


.play-btn{

width:50px;

height:50px;

border-radius:50%;

background:#a832ff!important;

}



/* PROGRESS */

.progress-area{

display:flex;

align-items:center;

gap:10px;

width:35%;

}


.progress-area input{

width:100%;

}



/* VOLUME */

.volume{

display:flex;

align-items:center;

gap:10px;

}


.volume input{

width:90px;

}




/* MOBILE */

@media(max-width:900px){


.music-player{

left:10px;

right:10px;

bottom:10px;

height:75px;

}



.now-playing{

width:auto;

}


.now-playing img{

width:45px;

height:45px;

}



.progress-area,

.volume{

display:none;

}


.player-controls{

margin-left:auto;

}


}

